In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as ddf
from pandas import Series, DataFrame
%matplotlib inline

In [2]:
import seaborn as sn
import plotly.express as px

In [3]:
years = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
        '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
         '2020']

In [6]:
ur_files = ddf.read_csv('daily_temp_county_level/daily_temp_county_level_2000.csv', dtype = {'fips': str})
temp = ur_files.compute()
temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
temp = temp.groupby('fips').mean()
temp = temp.reset_index()
temp = temp.drop('year', axis = 1)
temp['year'] = '2010'
temp.head()

    fips       temp   min_temp   max_temp  year
0  01001  68.535567  56.578721  78.501221  2010
1  01003  68.307914  60.054909  77.501626  2010
2  01005  64.813130  53.702960  77.817775  2010
3  01007  63.384495  53.046926  75.911031  2010
4  01009  61.976434  51.691171  74.420406  2010

In [7]:
for year in years:
    ur_files = ddf.read_csv('daily_temp_county_level/daily_temp_county_level_' + year + '.csv', dtype = {'fips': str})
    temp = ur_files.compute()
    temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
    temp = temp.groupby('fips').mean()
    temp = temp.reset_index()
    temp = temp.drop('year', axis = 1)
    temp['year'] = year
    temp.to_csv('temp_average_yearly/temp_average_yearly_' + year + '.csv')

### 3 years - average temperature

In [4]:
year_list = [['2000', '2001', '2002'], ['2003', '2004', '2005'], ['2006', '2007', '2008'],
            ['2009', '2010', '2011'], ['2012', '2013', '2014'], ['2015', '2016', '2017'],
            ['2018', '2019', '2020']]

In [5]:
year_last = ['2000 to 2002', '2003 to 2005', '2006 to 2008', '2009 to 2011', 
             '2012 to 2014', '2015 to 2017', '2018 to 2020']

In [18]:
for years,item in zip(year_list, year_last):
    frames = []
    for year in years:
        ur_files = ddf.read_csv('temp_average_yearly/temp_average_yearly_' + year + '.csv', dtype = {'fips': str})
        temp = ur_files.compute()
        temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
        frames.append(temp)
    temp_years = pd.concat(frames)
    temp_years = temp_years.groupby('fips').mean()
    temp_years = temp_years.reset_index()
    temp_years['period'] = item
    temp_years = temp_years.drop('year', axis = 1)
    temp_years.to_csv('temp_average_3years/temp_average_' + item + '.csv')

In [19]:
ur_files = ddf.read_csv('temp_average_3years/temp_average_2000 to 2002.csv', dtype = {'fips': str})
temp = ur_files.compute()
temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
temp.head()

    fips       temp   min_temp   max_temp        period
0  01001  68.254751  56.928996  78.028911  2000 to 2002
1  01003  68.142253  60.354350  76.991595  2000 to 2002
2  01005  64.915794  54.189256  77.038923  2000 to 2002
3  01007  63.213701  53.786122  75.045195  2000 to 2002
4  01009  61.775238  52.163958  73.453914  2000 to 2002

### 3 years - days of temperature in different intervals

In [6]:
for years,item in zip(year_list, year_last):
    frames = []
    for year in years:
        ur_files = ddf.read_csv('Temp_Count_New/temp_count_county_level_' + year + '.csv', dtype = {'fips': str})
        temp = ur_files.compute()
        temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
        frames.append(temp)
    temp_count = pd.concat(frames)
    temp_count = temp_count.groupby('fips').sum()
    temp_count = temp_count.reset_index()
    
    temp_count['period'] = item
    temp_count = temp_count.drop('year', axis = 1)
    temp_count.to_csv('Temp_Count_3years/temp_count_' + item + '.csv')

In [7]:
ur_files = ddf.read_csv('Temp_Count_3years/temp_count_2000 to 2002.csv', dtype = {'fips': str})
temp = ur_files.compute()
temp = temp.loc[:, ~temp.columns.str.contains('^Unnamed')]
temp.head()

,fips,mean_temp_below_30,mean_temp_30-40,mean_temp_40-50,mean_temp_50-60,mean_temp_60-70,mean_temp_70-80,mean_temp_80-90,mean_temp_over_90,min_temp_below_30,...,min_temp_over_90,max_temp_below_30,max_temp_30-40,max_temp_40-50,max_temp_50-60,max_temp_60-70,max_temp_70-80,max_temp_80-90,max_temp_over_90,period
0,01001,1.0,1.0,109.0,157.0,211.0,249.0,291.0,15.0,51.0,...,1.0,0.0,0.0,39.0,93.0,165.0,193.0,331.0,237.0,2000 to 2002
1,01003,1.0,1.0,99.0,165.0,241.0,292.0,265.0,1.0,26.0,...,0.0,0.0,0.0,29.0,74.0,196.0,262.0,384.0,144.0,2000 to 2002
2,01005,6.0,6.0,132.0,177.0,206.0,323.0,124.0,2.0,76.0,...,0.0,0.0,0.0,41.0,91.0,168.0,206.0,329.0,179.0,2000 to 2002
3,01007,11.0,11.0,155.0,178.0,223.0,344.0,105.0,0.0,83.0,...,0.0,0.0,0.0,52.0,113.0,187.0,214.0,326.0,176.0,2000 to 2002
4,01009,22.0,22.0,154.0,175.0,207.0,336.0,86.0,0.0,121.0,...,0.0,0.0,0.0,54.0,136.0,188.0,202.0,325.0,142.0,2000 to 2002